@media (max-width: 574px) {
  /* default xs */
  /* Start Home Section */
  .home {
    min-height: 500px;
    height: auto;
  }
  .content {
    margin-top: 40px;
  }

  .content h1 {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 30px;
  }

  .content p.lead {
    font-size: 14px;
    margin-bottom: 32px;
    width: 100%;
  }

  .home .navbar .navbar-nav {
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
  }

  .home .navbar .navbar-nav > li:hover {
    background: #f8aa2a;
    width: 100%;
    text-align: center;
    margin-right: 0 !important;
  }

  .home .navbar .navbar-nav .nav-item .nav-link:hover {
    color: #000;
    font-weight: bold;
  }

  .home .navbar .navbar-nav > li.nav-item.active > a.nav-link::after {
    display: none;
  }

  .home .navbar .navbar-nav > li.nav-item > a.nav-link:after {
    display: none;
  }

  /* Start Features Section */
  .features {
    padding: 20px 0;
  }
  .features h2 {
    margin-bottom: 3rem;
  }
  .features h2:after {
    width: 20%;
    margin-left: -10%;
  }

  .features-list {
    margin-bottom: 0;
    margin-top: 0;
  }

  .d-center {
    text-align: center;
  }

  .data-box {
    margin-bottom: 25%;
  }

  /* About US SECTION */
  .aboutus p.lead {
    font-size: 1rem;
  }

  .aboutus h2:after {
    width: 20%;
    left: 40%;
  }

  /* Remember section */
  .remember {
    padding: 30px 0;
  }

  .remember h2:after {
    width: 20%;
    left: 43%;
  }

  .remember p {
    font-size: 18px;
    margin-bottom: 25px;
  }

  .data-box {
    height: auto;
  }

  .data-box > p.lead {
    font-size: 18px;
  }

  /* Footer */
  .main-footer {
    min-height: 550px;
  }
  .main-footer img {
    width: 150px;
    display: block;
  }
}

@media (min-width: 575px) and (max-width: 767px) {
  /* sm screen */
  /* Home Section */
  .content h1 {
    font-size: 35px;
  }
  .content p.lead {
    font-size: 16px;
    margin-bottom: 32px;
    width: 100%;
  }

  .data-box {
    margin-bottom: 25%;
  }

  /* Start AboutUs Section */
  .aboutus {
    min-height: 600px;
  }
  .aboutus p.lead {
    font-size: 1rem;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* md screen */
  /* Start Home Section */
  .content h1 {
    font-size: 47px;
  }

  /* Start AboutUs Section */
  .aboutus {
    min-height: 500px;
  }
  .aboutus p.lead {
    font-size: 1rem;
  }

  /* Start Remember Section */
  .data-box img {
    left: 30%;
  }
  .data-box > p.lead {
    font-size: 18px;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  /* lg screen */
  /* Home Section */
  .content h1 {
    font-size: 48px;
  }

  .content p.lead {
    font-size: 28px;
    width: 100%;
  }
}

@media (min-width: 1200px) {
  /* xl screen */
  /* Home Section */
  .content h1 {
    color: #f8aa2a;
  }

  .content p.lead {
    width: 75%;
  }
}
